
// font family 
$poppins: 'Poppins', sans-serif;
$proxima: 'Proxima Nova Th', sans-serif;



/*** overriding bootstrap variables  **/

//font family
$font-family-base:            $proxima;
$font-weight-base:            500; 

//colors
$orange: #FF8124;
$gray-200: #EFEFEF;
$gray-300: #E3E3E3;
$gray-400: #C7C7C7;
$gray-500: #B2B2B2;
$gray-600: #767676;
$black: #000;
$primary : $orange;
$body-color: $black;
$dark: #040612;

//font sizes
$font-size-root: 62.5%;
$font-size-base: 1.8rem;
$enable-rfs: false;
$headings-font-family:        $poppins;
$headings-font-weight:        700;
$h1-font-size:                9.7rem;
$h2-font-size:                7.5rem;
$h3-font-size:                5rem;
$h4-font-size:                4rem;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

//grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1535px,
  xxxxl: 1732px
);

$grid-gutter-width: 3rem;


//custom colors
$light_grey: #E2E2E2;
$card-box-shadow: 20px 3rem 3rem rgba(56, 56, 56, 0.11);
$enable-responsive-font-sizes: false;