* {
    &:focus {
        outline: none;
    }
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

p {
    &.title {
        font-size: 2.8rem;
        font-weight: $headings-font-weight;
    }

    &.title-2{
        font-size: 2.5rem;
    }

    &.title-3{
        font-size: 2.4rem;
        font-weight: $font-weight-base;
    }
}

h2 {
    &.stencil {
        position: relative;

        &::after {
            content: '';
            width: 8.3rem;
            height: .9rem;
            background: $primary;
            display: inline-block;
            margin-left: 1.7rem;
        }
    }
}

.btn {
    border-radius: .6rem;
}

.btn-primary {
    color: $white;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        color: $white;
    }
}


body .rating {
    font-size: 1.3rem;
    i {
        color: $primary;
    }
}

.card {
    border: none;
}