@include media-breakpoint-up(xl){
    .container{
        max-width: calc(85.67% + 30px);
    }
}

@include media-breakpoint-down(xxxl){
    :root{
        font-size: 59.5%;
    }
}

@include media-breakpoint-down(xxl){
    :root{
        font-size: 52.8%;
    }
}

body{
    font-size:  $font-size-base;
}