
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/proxima_nova/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proxima_nova/ProximaNova-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/ProximaNova-Medium.woff2') format('woff2'),
        url('../fonts/proxima_nova/ProximaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/proxima_nova/ProximaNova-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/proxima_nova/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/proxima_nova/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

